.fpcout/
*.o
*.ppu
*.compiled
contrib/.csrc/
link*.res
# Nota: contrib/*/*.linux.x64.o se regeneran con contrib/build-native-linux.sh
/xtool
/xtool.exe
srep64
libpackjpg.so
libpreflate.so
libfast-lzma2.so
